<!DOCTYPE html>
<html>
  <%- include('partials/head') -%>
  <body>
    <%- include('partials/nav') -%>
    <p>Welcome to <%= title %></p>
    <div class="messages">
      <% messages.forEach(message => { %>
        <div>
          <div><strong><%= message.title %></strong><% if (currentUser.membership_status) { %>
              - <%= message.author.full_name %>
            <% } %>
          </div>
          <div><%= message.text %></div>
          <% if (currentUser.membership_status) { %>
            <div><%= message.time_formatted %></div>
          <% } %>
          <% if (currentUser.admin) { %>
            <form action="/messages/<%= message._id %>/delete" method="post">
                <input type="hidden" id="messageid" name="messageid" required value="<%= message._id %>">
                <button type="submit">Delete</button>
            </form>
          <% } %>
        </div>
      <% }) %>
    </div>
    <% if (currentUser) { %>
      <hr>
      <a href="/messages/create">Write Message</a>
    <% } %>
  </body>
</html>
